<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 bg-w-yellow">
      <p></p>
    </div>
  </div>
</div>
<div class="container-fluid bg-w-pink">
  <div class="col-md-1 point p-1">
    <p routerLink='/feed'> <i class="fa fa-arrow-left point" aria-hidden="true" routerLink='/feed'></i> Voltar</p>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="table">
        <div class="table p-3 bg-white">
          <div class="row ml-1">
            <h4 class="text-start">Doação de Roupas e Brinquedos</h4>
          </div>
          <div class="row ml-1 mr-1">
            <p>
              Listamos abaixo algumas instituições e ONG's para realizar doações de roupas e brinquedos:
            </p>
          </div>
          <div class="row d-flex justify-content-between">
            <div class="col-md-4 mt-2 ml-1 p-2">
              <p>
              <ul>
                <li>
                  <a class="mb-0" href="https://www.institutodacrianca.org.br/" target="_blank">Instituto da Criança</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a class="mb-0" href="https://www.abrace.com.br/" target="_blank">Abrace</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a class="mb-0" href="https://casasandreluiz.org.br/" target="_blank">Casas André Luiz</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a class="mb-0" href="http://www.casadacriancasantoamaro.org.br/" target="_blank">Casa da Criança
                    Santo
                    Amaro</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a class="mb-0" href="https://www.exercitodoacoes.org.br/" target="_blank">Exército da Salvação</a>
                </li>
              </ul>
            </div>
            <div class="col-md-4 mr-4">
              <a href="#" class="img d-flex justify-content-start">
                <img src="https://i.imgur.com/I8HLMW0.png?1" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>