<div class="container-fluid bg-w-pink">
  <div class="col-md-1 point">
    <p routerLink='/feed' class="point"> <i class="fa fa-arrow-left point" aria-hidden="true"></i> Voltar</p>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 mt-3">
        <img src="https://i.imgur.com/y9k3B9T.png" alt="Logo" class="w-100 mb-2">
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 text-left">
        <p>A criação e participação de grupos é nosso principal objetivo, para as trocas de experiências, dúvidas, e contribuição de especialistas.
        </p>
        <p>Além das postagens e artigos, Cafuné Materno apresenta um espaço dedicado à conscientização e solidariedade, com indicações de espaços para doação de leite materno, higiene menstrual, roupas e brinquedos. </p>
        <p>No feed é possível realizar postagens independentes, sem estar atrelada a um grupo específico.</p>
        <p>
          Por fim, mas não menos importante, dispomos de uma guia para indicar delegacias da mulher e informando os tipos de violência existentes para prevenção e ajuda.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4">
        <div class="card w-75" style="width: 18rem;">
          <div class="card-body text-center">
            <div class="w-100"><i class="fa fa-users p-size" aria-hidden="true"></i></div>
            <p class="card-text font-bold">Como criar um grupo</p>
              <i class="fa fa-angle-down d-flex justify-content-end point" aria-hidden="true" data-toggle="modal"
              data-target="#modal1"></i>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card w-75" style="width: 18rem;">
          <div class="card-body text-center">
            <div class="w-100"><i class="fa fa-user-circle p-size" aria-hidden="true"></i></div>
            <p class="card-text font-bold">Como editar seu perfil</p>
              <i class="fa fa-angle-down d-flex justify-content-end point" aria-hidden="true" data-toggle="modal"
              data-target="#modal2"></i>

          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card w-75" style="width: 18rem;">
          <div class="card-body text-center">
            <div class="w-100"><i class="fa fa-pencil-square-o p-size" aria-hidden="true"></i></div>
            <p class="card-text font-bold">Como criar uma publicação</p>
              <i class="fa fa-angle-down d-flex justify-content-end point" aria-hidden="true" data-toggle="modal"
              data-target="#modal3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-w-pink">
          <h5 class="modal-title" id="exampleModalLabel">Como criar um grupo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bg-w-pink">
          <p>Para criar um grupo, clique na aba de Grupos (ao lado da aba de Feed), em seguida clique no botão criar um grupo, logo abrirá uma caixa solicitando as informações necessárias para a criação, realize o preenchimento de todos os campos, e clique no botão criar. Prontinho, seu novo grupo está criado!</p>
        </div>
        <div class="modal-footer bg-w-pink">
          <button type="button" class="btn bg-w-yellow" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-w-pink">
        <h5 class="modal-title" id="exampleModalLabel">Como editar seu perfil</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-w-pink">
        <p>Para editar seu perfil, basta clicar em sua foto na lateral direita superior, selecionar Meu Perfil, e assim que estiver na página, clicar no ícone de lápis, você será redirecionada(o) para outra página. A partir deste ponto, atualize as informações que deseja, e em todas as atualizações, é necessário inserir sua senha no campo Senha para finalizar a atualização.</p>
      </div>
      <div class="modal-footer bg-w-pink">
        <button type="button" class="btn bg-w-yellow" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header bg-w-pink">
      <h5 class="modal-title" id="exampleModalLabel">Como criar uma publicação</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body bg-w-pink">
      <p>Para criar uma postagem no Feed, assim que logar em nossa aplicação, você já estará na página indicada, caso esteja em outra aba, basta clicar no primeiro ícone do menu superior. Os campos para publicação estarão logo abaixo do menu ao lado direito, preencha-os e clique no botão Publicar. Prontinho, postagem realizada com sucesso!</p>
    </div>
    <div class="modal-footer bg-w-pink">
      <button type="button" class="btn bg-w-yellow" data-dismiss="modal">Fechar</button>
    </div>
  </div>
</div>
</div>
