.bg-w-yellow {
    background-color: rgb(255, 226, 153)
}

.bg-w-pink {
    background-color: #E8D8FF;
}

.bg-white {
    background-color: white;
}

.bg-l-grey {
    background-color: #f5f3f3;
}

.bg-p-rose {
    background-color: #f6eded;
}

.outline-none {
    outline: none;
    box-shadow: none !important;
}