<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-w-yellow">
            <p></p>
        </div>
    </div>
</div>
<div class="container-fluid bg-w-pink">
    <div class="col-md-1 point p-1">
        <p routerLink='/feed'> <i class="fa fa-arrow-left point" aria-hidden="true" routerLink='/feed'></i> Voltar</p>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 d-flex justify-content-center">
            <div class="table">
                <div class="table p-3 bg-white">
                    <div class="row ml-1">
                        <h4 class="text-start">Doação para Higiene Menstrual</h4>
                    </div>
                    <div class="row ml-1 mr-1">
                        <p>
                            Para bilhões de mulheres e meninas em todo o mundo, a menstruação é uma realidade. No
                            entanto, em muitos países, as pessoas ainda enfrentam inúmeros desafios quando se trata de
                            lidar com seus períodos menstruais devido a mitos, estigmas e normas prejudiciais de gênero.
                        </p>
                    </div>


                    <div class="bg-white w-100 p-2 mt-2">
                       <!-- <div class="dropdown">
                            <button class="btn bg-p-rose btn-lg w-100 d-flex justify-content-between" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Como a menstruação afeta a vida? <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="p-2">Caso não seja adequadamente administrada, a menstruação pode atrapalhar a
                                    vida cotidiana. As adolescentes passam por períodos extremamente dolorosos, que
                                    podem afetar sua frequência e desempenho na escola. A falta de instalações e
                                    produtos adequados, as restrições de movimentos das meninas durante o período
                                    menstrual, além do constrangimento e da sensação de “estar suja” são fatores que
                                    também contribuem para que as meninas deixem a escola.
                                    Tabus, mitos e sentimento de vergonha em torno da menstruação podem levar a
                                    provocações, constrangimento e suspensão das atividades do dia a dia e ter um efeito
                                    negativo na autoestima das meninas.</p>
                            </div>
                        </div>

                        <div class="dropdown mt-4">
                            <button class="btn bg-p-rose btn-lg w-100 d-flex justify-content-between" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Por que quem menstrua é discriminada? <i class="fa fa-angle-down"
                                    aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="p-2">A vergonha do período menstrual tem raiz na desigualdade de gênero. As
                                    tradições culturais e religiosas em torno dos períodos menstruais geralmente partem
                                    de normas patriarcais e discriminatórias sobre o status e o lugar de uma menina na
                                    sociedade.
                                    Como resultado, espera-se que meninas e mulheres interrompam atividades normais,
                                    como tomar banho ou cozinhar e, em alguns casos, elas podem até ser tiradas de casa
                                    durante seu período menstrual. Essas restrições e atitudes negativas em relação à
                                    menstruação afetam a autoestima das meninas.
                                </p>
                            </div>
                        </div>

                        <div class="dropdown mt-4">
                            <button class="btn bg-p-rose btn-lg w-100 d-flex justify-content-between" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Quais são os benefícios de uma sociedade livre de tabus como este? <i
                                    class="fa fa-angle-down text-end" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="p-2">Ao melhorar a saúde menstrual e combater os tabus, podemos melhorar a
                                    frequência e o desempenho das meninas na escola, desfazer equívocos em torno da
                                    menstruação, aumentar a autoestima das meninas e permitir que elas participem
                                    plenamente da vida em sociedade.
                                </p>
                            </div>
                        </div>
                        <h6 class="mt-3">Fonte: Plan International Brasil</h6>

                    </div>
                </div> -->
                <div id="accordion">
                    <div class="card rounded mb-2">
                      <div class="card-header bg-p-rose" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-lg w-100 d-flex justify-content-between outline-none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Como a menstruação afeta a vida? <i class="fa fa-angle-down text-end" aria-hidden="true"></i>
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Caso não seja adequadamente administrada, a menstruação pode atrapalhar a
                                    vida cotidiana. As adolescentes passam por períodos extremamente dolorosos, que
                                    podem afetar sua frequência e desempenho na escola. A falta de instalações e
                                    produtos adequados, as restrições de movimentos das meninas durante o período
                                    menstrual, além do constrangimento e da sensação de “estar suja” são fatores que
                                    também contribuem para que as meninas deixem a escola.
                                    Tabus, mitos e sentimento de vergonha em torno da menstruação podem levar a
                                    provocações, constrangimento e suspensão das atividades do dia a dia e ter um efeito
                                    negativo na autoestima das meninas.
                        </div>
                      </div>
                    </div>

                    <div class="card  mb-2">
                      <div class="card-header bg-p-rose" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-lg w-100 d-flex justify-content-between outline-none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Por que quem menstrua é discriminada? <i class="fa fa-angle-down text-end" aria-hidden="true"></i>
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            A vergonha do período menstrual tem raiz na desigualdade de gênero. As
                                    tradições culturais e religiosas em torno dos períodos menstruais geralmente partem
                                    de normas patriarcais e discriminatórias sobre o status e o lugar de uma menina na
                                    sociedade.
                                    Como resultado, espera-se que meninas e mulheres interrompam atividades normais,
                                    como tomar banho ou cozinhar e, em alguns casos, elas podem até ser tiradas de casa
                                    durante seu período menstrual. Essas restrições e atitudes negativas em relação à
                                    menstruação afetam a autoestima das meninas.
                        </div>
                      </div>
                    </div>

                    <div class="card  mb-2">
                      <div class="card-header bg-p-rose" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-lg w-100 d-flex justify-content-between outline-none" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Quais são os benefícios de uma sociedade livre de tabus como este? <i class="fa fa-angle-down text-end" aria-hidden="true"></i>
                          </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            Ao melhorar a saúde menstrual e combater os tabus, podemos melhorar a
                                    frequência e o desempenho das meninas na escola, desfazer equívocos em torno da
                                    menstruação, aumentar a autoestima das meninas e permitir que elas participem
                                    plenamente da vida em sociedade.
                        </div>
                      </div>
                    </div>
                    </div>

                <div class="row d-flex justify-content-end">
                    <h6 class="text-secondary">Para saber onde doar, <a class="point"
                            href="https://ficha.doeplan.org.br/doe_siteplan_new/people/new" target="_blank">clique aqui.</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>